@import '../bower_components/bootstrap/less/bootstrap';


@import 'login';


html, body{
  height: 100%;
}


.w600px{
  width: 600px !important;
}
.w350px{
  width: 350px !important;
}

.w400px{
  width: 400px !important;
}

.w100px{
  width: 100% !important;
}

.w100p{
  width: 100% !important;
}

.mt20px{
  margin-top: 20px;
}

.p20px{
  padding: 20px;
}

.auto-margin{
  margin: auto !important;
}

.inline{
  display: inline !important;
}

.inline-block{
  display: inline-block !important;
}

.block{
  display: block !important;
}

.text-bold{
  font-weight: bold;
}