@import '../../bower_components/bootstrap/less/bootstrap';
//@import '../../vendor/Font-Awesome-3.2.1/less/font-awesome';

@import "index";
@import "login";
@import "rich-text-editor";
@import "article";

html, body, body > .ember-view{
  height: 100%;
  overflow: hidden;
}

.mb50px{
  margin-bottom: 50px !important;
}

.w600px{
  width: 600px !important;
}
.w350px{
  width: 350px !important;
}

.w400px{
  width: 400px !important;
}
.maxW400px{
  max-width: 400px !important;
}

.w100px{
  width: 100px !important;
}

.w100p{
  width: 100% !important;
}

.w50px{
  width: 50px !important;
}

.w50p{
  width: 50% !important;
}

.h80p{
  height: 80% !important;
}
.h100p{
  height: 100% !important;
}

.h100p-all{
  &, *{
    height: 100% !important;
  }
}

.h100px{
  height: 100px !important;
}

.mt20px{
  margin-top: 20px !important;
}

.p20px{
  padding: 20px !important;
}

.margin-auto{
  margin: auto !important;
}

.inline{
  display: inline !important;
}

.inline-block{
  display: inline-block !important;
}

.block{
  display: block !important;
}

.text-bold{
  font-weight: bold !important;
}

.opacity0{
  opacity: 0 !important;
}

.opacity9{
  opacity: .9 !important;
}

.margin0{
  margin: 0 !important;
}

.bottom0{
  bottom: 0 !important;
}

.padding0{
  padding: 0 !important;
}

.padding60px{
  padding: 60px !important;
}

.pt60px {
  padding-top: 60px !important;
}

.pb60px {
  padding-bottom: 60px !important;
}

.borderRadius4px{
  border-radius: 4px;
}

.top0{
  top: 0 !important;
}

.left0{
  left: 0 !important;
}

.pos-rel{
  position: relative !important;
}

.pos-abs{
  position: absolute !important;
}

.cur-pointer{
  cursor: pointer !important;
  &:hover{
    cursor: pointer !important;
  }
}

.word-break{
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.ff-sans-serif{
  font-family:Arial,Verdana,Sans-serif !important;
}

.col-center{
  left: 50%;
  transform: translateX(-50%);
}

.ver-center{
  top: 50%;
  transform: translateY(-50%);
}

.color-white{
  color: #fff !important;
}

.color-ccc{
  color: #ccc !important;;
}

.bg-ccc{
  background: #ccc !important;
}

.color-white-all{
  &, *{
    color: #fff !important;
  }
}

.f18px{
  font-size: 18px !important;
}

.f16px{
  font-size: 16px !important;
}

.f14px{
  font-size: 14px !important;
}

.f12px{
  font-size: 12px !important;
}

.unselectable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable-all{
  &, *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
}

.nowrap{
  white-space: nowrap;
}

.color-overlay {
  background: rgba(0, 0, 0, .3);
}

.opacity6{
  opacity: .6 !important;
}

.overflow-hidden{
  overflow: hidden !important;
}