

<div class="page-art-pub">
  <div class="container h100p">
      <form class="h100p">
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon text-bold">Title</span>
                  <input type="text" class="form-control" placeholder="输入文章标题" id="art-title">
              </div>

          </div>


          <div class="form-group h80p">
              {{xh-editor bindClass="w100p h100p article-text"}}
          </div>

          <button class="btn btn-default" {{action 'submit'}}>提交</button>

      </form>




  </div>
</div>


{{view-like didInsertFunc=(action 'didInsert') willDestroyFunc=(action 'willDestroy')}}

{{outlet}}
