<div class="art-list-body h100p">
    <div class="container-fluid h100p overflow-hidden">
        <div class="art-list-left col-sm-3 color-overlay col-sm-offset-1">



        </div>

        <div class="art-list-right col-sm-6 color-overlay col-sm-offset-1">


        </div>
    </div>

</div>


{{view-like didInsertFunc=(action 'didInsertFunc') willDestroyFunc=(action 'willDestroyFunc')}}
{{outlet}}
